# Entornos virtuales
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Configuraciones del IDE
.vscode/
.idea/

# Archivos de entorno
.env
.env.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos generados por el usuario
*.log
*.sqlite3